### This filtering step of metadata is for performing ·sample-classifier classify-samples·

In [1]:
import pandas as pd

In [3]:
data_dir = "/Users/cheesemania/PycharmProjects/mscthesis_wrkdir"

In [4]:
df_original = pd.read_csv(f'{data_dir}/metadata/case_control_metadata_remove_h1n1.tsv', sep='\t')

In [5]:
df_original.shape

(2383, 19)

In [6]:
df_original['Project_ID'].nunique()

25

In [8]:
grouped_case_control_sample_count_per_project = df_original.groupby(['Project_ID', 'Case_Control']).agg(sample_count=('SampleID', 'size')).reset_index()

print(grouped_case_control_sample_count_per_project)

               Project_ID Case_Control  sample_count
0              PRJDB13192         Case            76
1              PRJDB13192      Control            24
2              PRJEB35665         Case            20
3              PRJEB35665      Control            17
4              PRJEB38917         Case            32
5              PRJEB38917      Control             9
6              PRJEB38930         Case            94
7              PRJEB38930      Control            62
8              PRJEB42375         Case            80
9              PRJEB42375      Control            64
10             PRJEB46343         Case            24
11             PRJEB46343      Control            12
12             PRJEB53019         Case            17
13             PRJEB53019      Control            11
14            PRJNA419104         Case            34
15            PRJNA419104      Control            23
16            PRJNA517994         Case            91
17            PRJNA517994      Control            11
18            PRJNA557226         Case            18
19            PRJNA557226      Control             9
20            PRJNA590898         Case            36
21            PRJNA590898      Control            18
22            PRJNA607176         Case            34
23            PRJNA607176      Control            47
24            PRJNA637034         Case           106
25            PRJNA637034      Control            46
26            PRJNA647266         Case            90
27            PRJNA647266      Control           150
28            PRJNA662173         Case            46
29            PRJNA662173      Control            23
30            PRJNA698272         Case            78
31            PRJNA698272      Control            16
32            PRJNA703732         Case           137
33            PRJNA703732      Control            18
34            PRJNA735021         Case            47
35            PRJNA735021      Control            39
36            PRJNA751473         Case            17
37            PRJNA751473      Control            17
38            PRJNA756382         Case           103
39            PRJNA756382      Control            58
40            PRJNA778607         Case            63
41            PRJNA778607      Control            42
42            PRJNA791216         Case            99
43            PRJNA791216      Control            30
44            PRJNA794154         Case            30
45            PRJNA794154      Control            23
46            PRJNA813503         Case            46
47            PRJNA813503      Control            52
48  crohns-paper_37122605         Case           105
49  crohns-paper_37122605      Control            39

#### Excluding 6 projects due to inadequate sample sizes in total/per case-control group
As a rule of thumb of sample classifier, a minimum of approximately 50 samples in total should be provided. Categorical metadata columns that are used as classifier targets should have a minimum of 10 samples per unique value (before rarefaction).

PRJNA637034 - TBD
Due to only 1 sample remaning after rarefaction, this project is excluded from the ML analysis.

In [13]:
projects_to_exclude_step1 = ['PRJEB35665', 'PRJEB38917', 'PRJEB46343', 'PRJEB53019', 'PRJNA557226', 'PRJNA751473']
df_original_exclude_step1 = df_original[~df_original['Project_ID'].isin(projects_to_exclude_step1)]

In [14]:
df_original_exclude_step1.shape

(2180, 19)

In [15]:
df_original_exclude_step1['Project_ID'].nunique()

19

In [16]:
update_grouped_case_control_sample_count_per_project = df_original_exclude_step1.groupby(['Project_ID', 'Case_Control']).agg(sample_count=('SampleID', 'size')).reset_index()

print(update_grouped_case_control_sample_count_per_project)

               Project_ID Case_Control  sample_count
0              PRJDB13192         Case            76
1              PRJDB13192      Control            24
2              PRJEB38930         Case            94
3              PRJEB38930      Control            62
4              PRJEB42375         Case            80
5              PRJEB42375      Control            64
6             PRJNA419104         Case            34
7             PRJNA419104      Control            23
8             PRJNA517994         Case            91
9             PRJNA517994      Control            11
10            PRJNA590898         Case            36
11            PRJNA590898      Control            18
12            PRJNA607176         Case            34
13            PRJNA607176      Control            47
14            PRJNA637034         Case           106
15            PRJNA637034      Control            46
16            PRJNA647266         Case            90
17            PRJNA647266      Control           150
18            PRJNA662173         Case            46
19            PRJNA662173      Control            23
20            PRJNA698272         Case            78
21            PRJNA698272      Control            16
22            PRJNA703732         Case           137
23            PRJNA703732      Control            18
24            PRJNA735021         Case            47
25            PRJNA735021      Control            39
26            PRJNA756382         Case           103
27            PRJNA756382      Control            58
28            PRJNA778607         Case            63
29            PRJNA778607      Control            42
30            PRJNA791216         Case            99
31            PRJNA791216      Control            30
32            PRJNA794154         Case            30
33            PRJNA794154      Control            23
34            PRJNA813503         Case            46
35            PRJNA813503      Control            52
36  crohns-paper_37122605         Case           105
37  crohns-paper_37122605      Control            39

#### Sample size balance

In [18]:
# Calculate the sample size balance between 'Case' and 'Control' groups within each project
sample_size_balance = df_original_exclude_step1.groupby(['Project_ID', 'Case_Control']).size().unstack(fill_value=0)

# Add a column to show the absolute difference between the 'Case' and 'Control' counts
sample_size_balance['Difference'] = abs(sample_size_balance['Case'] - sample_size_balance['Control'])

# Display the balance summary
sample_size_balance.sort_values(by='Difference', ascending=False)  
# Show top 10 projects with the highest imbalance

Case_Control           Case  Control  Difference
Project_ID
PRJNA703732             137       18         119
PRJNA517994              91       11          80
PRJNA791216              99       30          69
crohns-paper_37122605   105       39          66
PRJNA698272              78       16          62
PRJNA637034             106       46          60
PRJNA647266              90      150          60
PRJDB13192               76       24          52
PRJNA756382             103       58          45
PRJEB38930               94       62          32
PRJNA662173              46       23          23
PRJNA778607              63       42          21
PRJNA590898              36       18          18
PRJEB42375               80       64          16
PRJNA607176              34       47          13
PRJNA419104              34       23          11
PRJNA735021              47       39           8
PRJNA794154              30       23           7
PRJNA813503              46       52           6

#### Age, Sex, and Geoloc_Country Matching

In [19]:
from scipy.stats import chi2_contingency

# Function to perform chi-square tests on categorical data
def chi_square_test(df, column):
    contingency_table = pd.crosstab(df['Case_Control'], df[column])
    chi2, p, dof, expected = chi2_contingency(contingency_table)
    return p

# Analyze all projects
projects_analysis = []
for project_id in df_original_exclude_step1['Project_ID'].unique():
    project_data = df_original_exclude_step1[df_original_exclude_step1['Project_ID'] == project_id]
    
    # Only perform chi-square tests if there are both Case and Control samples
    if len(project_data['Case_Control'].unique()) == 2:
        age_p_value = chi_square_test(project_data, 'Host_Age_Decade')
        sex_p_value = chi_square_test(project_data, 'Host_Sex')
        geo_p_value = chi_square_test(project_data, 'GeoLoc_Country')
        
        projects_analysis.append({
            'Project_ID': project_id,
            'Case_Count': (project_data['Case_Control'] == 'Case').sum(),
            'Control_Count': (project_data['Case_Control'] == 'Control').sum(),
            'Age_Match_p_value': age_p_value,
            'Sex_Match_p_value': sex_p_value,
            'Geo_Match_p_value': geo_p_value
        })

In [20]:
# Convert the results into a DataFrame for better visualization
analysis_df = pd.DataFrame(projects_analysis)

# Marking projects with p-values > 0.05 as "Matched" (no significant difference)
analysis_df['Age_Matched'] = analysis_df['Age_Match_p_value'] > 0.05
analysis_df['Sex_Matched'] = analysis_df['Sex_Match_p_value'] > 0.05
analysis_df['Geo_Matched'] = analysis_df['Geo_Match_p_value'] > 0.05

# Display the analysis summary
analysis_df[['Project_ID', 'Case_Count', 'Control_Count', 'Age_Matched', 'Sex_Matched', 'Geo_Matched']]

,Project_ID,Case_Count,Control_Count,Age_Matched,Sex_Matched,Geo_Matched
0,crohns-paper_37122605,105,39,True,True,True
1,PRJDB13192,76,24,True,True,True
2,PRJEB38930,94,62,False,False,True
3,PRJEB42375,80,64,True,True,True
4,PRJNA419104,34,23,False,True,True
5,PRJNA517994,91,11,True,True,False
6,PRJNA590898,36,18,False,False,True
7,PRJNA607176,34,47,True,True,True
8,PRJNA637034,106,46,True,True,True
9,PRJNA647266,90,150,True,True,True
10,PRJNA662173,46,23,True,True,True
11,PRJNA698272,78,16,True,True,True
12,PRJNA703732,137,18,True,True,True
13,PRJNA735021,47,39,True,True,True
14,PRJNA756382,103,58,True,True,True
15,PRJNA778607,63,42,True,False,True
16,PRJNA791216,99,30,True,True,True
17,PRJNA794154,30,23,True,False,True
18,PRJNA813503,46,52,True,True,True

In [22]:
analysis_df

,Project_ID,Case_Count,Control_Count,Age_Match_p_value,Sex_Match_p_value,Geo_Match_p_value,Age_Matched,Sex_Matched,Geo_Matched
0,crohns-paper_37122605,105,39,1.000000e+00,1.000000e+00,1.000000e+00,True,True,True
1,PRJDB13192,76,24,1.000000e+00,1.000000e+00,1.000000e+00,True,True,True
2,PRJEB38930,94,62,6.825276e-35,6.825276e-35,1.000000e+00,False,False,True
3,PRJEB42375,80,64,1.000000e+00,1.000000e+00,1.000000e+00,True,True,True
4,PRJNA419104,34,23,6.183117e-07,2.902398e-01,1.000000e+00,False,True,True
5,PRJNA517994,91,11,1.363380e-01,4.360838e-01,2.795095e-15,True,True,False
6,PRJNA590898,36,18,2.095826e-10,1.879529e-12,1.000000e+00,False,False,True
7,PRJNA607176,34,47,1.000000e+00,1.000000e+00,1.000000e+00,True,True,True
8,PRJNA637034,106,46,1.000000e+00,1.000000e+00,1.000000e+00,True,True,True
9,PRJNA647266,90,150,1.000000e+00,1.000000e+00,1.000000e+00,True,True,True
10,PRJNA662173,46,23,1.000000e+00,1.000000e+00,1.000000e+00,True,True,True
11,PRJNA698272,78,16,1.000000e+00,1.000000e+00,1.000000e+00,True,True,True
12,PRJNA703732,137,18,7.750715e-01,6.268473e-01,6.268473e-01,True,True,True
13,PRJNA735021,47,39,7.237880e-01,1.000000e+00,1.000000e+00,True,True,True
14,PRJNA756382,103,58,2.910663e-01,1.000000e+00,1.000000e+00,True,True,True
15,PRJNA778607,63,42,9.120438e-01,2.535797e-03,1.000000e+00,True,False,True
16,PRJNA791216,99,30,1.000000e+00,1.000000e+00,1.000000e+00,True,True,True
17,PRJNA794154,30,23,1.000000e+00,3.824599e-03,1.000000e+00,True,False,True
18,PRJNA813503,46,52,1.000000e+00,1.000000e+00,1.000000e+00,True,True,True

In [25]:
analysis_df.to_csv(f'{data_dir}/metadata/case_control_matching_summary.tsv', na_rep='NA', sep='\t', index=False)